Repository piotrpdev/oko: changes, and which pre-commit hooks are due for each by the changed paths.
All: sqlx, lint, clippy, fmt

sqlx:
  name: sqlx check
  entry: bash -c 'cd ./backend && cargo sqlx prepare --check'
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: npm run --prefix ./frontend lint:fix
  language: system
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  language: system
  args:
  - --manifest-path
  - ./backend/Cargo.toml
  - --fix
  - --allow-dirty
  - --allow-staged
  - --all-targets
  pass_filenames: false

fmt:
  name: fmt
  entry: cargo fmt
  language: system
  args:
  - --manifest-path
  - ./backend/Cargo.toml
  - --

refactor: use published mdns fork
  backend/Cargo.lock
  backend/Cargo.toml
Due: none

ci: pin actions to major versions
  .github/workflows/release-binaries.yml
  .github/workflows/release-plz.yml
Due: none

docs: mdns fork license
  README.md
Due: none

refactor: OKO-107 add ip to `CameraPermissionView`
  backend/.sqlx/query-fff5af664fa388e9def9093d2e8d8ab77ad9b125eebf58e7942d58b3a53af079.json
  backend/src/db/camera.rs
  backend/src/db/camera_permission_view.rs
Due: sqlx, lint, clippy, fmt

refactor: OKO-107 better camera ip parsing in api
  backend/src/web/protected.rs
Due: sqlx, clippy, fmt

feat: OKO-107 mdns camera ui
  frontend/src/routes/Cameras.svelte
  frontend/src/types.ts
Due: lint

test: OKO-107 update tests
  frontend/tests/App.test.ts
  frontend/vitest-setup.ts
Due: lint

feat: OKO-107 add camera perms for all users
  backend/.sqlx/query-707c7e588cf8c66380ef2cea937f11b3ea8279e73f5a2ca1af2fc70d8d81b081.json
  backend/src/db/user.rs
  backend/src/web/protected.rs
  make.sh
Due: sqlx, lint, clippy, fmt

refactor: OKO-107 optional oko ip in camera setup
  camera/src/main.rs
  camera/src/setup.html
Due: sqlx, lint, clippy, fmt

refactor: OKO-107 restart camera after delay
  camera/src/main.rs
Due: sqlx, clippy, fmt

refactor: OKO-107 camera mdns_connect route
  camera/src/main.rs
Due: sqlx, clippy, fmt

feat: OKO-107 private oko ip in AppState
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/web/app.rs
  backend/tests/utils.rs
Due: sqlx, clippy, fmt

feat: OKO-107 better camera add, react to camera list changes
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/web.rs
  backend/src/web/app.rs
  backend/src/web/protected.rs
Due: sqlx, clippy, fmt

ci: exclude changelogs from pre-commit checks
  .pre-commit-config.yaml
Due: none

fix: OKO-108 stop user from deleting cameras
  frontend/src/routes/Cameras.svelte
Due: lint

feat: OKO-108 refresh camera list on change
  backend/src/web.rs
  backend/src/web/app.rs
  frontend/src/lib/components/CameraAndVideos.svelte
  frontend/src/routes/Cameras.svelte
  frontend/src/types.ts
Due: sqlx, lint, clippy, fmt

test: OKO-108 refresh camera list on change tests
  frontend/tests/App.test.ts
  frontend/vitest-setup.ts
Due: lint

feat: OKO-109 guest account
  backend/src/web/app.rs
  frontend/src/routes/Login.svelte
Due: sqlx, lint, clippy, fmt

test: OKO-109 add guest to fixtures
  backend/fixtures/camera_permissions.sql
  backend/fixtures/users.sql
  backend/src/db/camera_permission.rs
  backend/src/db/user.rs
Due: sqlx, clippy, fmt

ci: test in node development mode
  make.sh
Due: none

refactor: OKO-110 simplify user menu
  frontend/src/lib/layouts/DashboardLayout.svelte
Due: lint

feat: OKO-110 users page
  frontend/src/App.svelte
  frontend/src/lib/layouts/DashboardLayout.svelte
  frontend/src/routes/Users.svelte
Due: lint

feat: OKO-110 users api routes
  backend/src/users.rs
  backend/src/web/app.rs
  backend/src/web/protected.rs
  frontend/src/routes/Cameras.svelte
  frontend/src/routes/Login.svelte
Due: sqlx, lint, clippy, fmt

test: OKO-110 login guest route mock
  frontend/vitest-setup.ts
Due: lint

feat: OKO-112 HTTPS
  .gitignore
  backend/Cargo.lock
  backend/Cargo.toml
  backend/certs/.gitkeep
  backend/src/web/app.rs
  backend/tests/utils.rs
Due: sqlx, clippy, fmt

feat: OKO-113 WSS
  frontend/src/App.svelte
Due: lint

feat: database encryption
  backend/Cargo.lock
  backend/Cargo.toml
  backend/src/web/app.rs
Due: sqlx, clippy, fmt

ci: PR tests
  .github/workflows/pr_tests.yml
  .github/workflows/release-binaries.yml
  .github/workflows/release-plz.yml
Due: none

refactor: update landing page
  landing/assets/demo.webp
  landing/assets/demo_placeholder.webp
  landing/assets/poster.webp
  landing/assets/poster_placeholder.webp
  landing/index.html
Due: lint

docs: nicer README
  README.md
Due: none

docs: more README images
  README.md
  landing/assets/add.webp
  landing/assets/captive.webp
  landing/assets/poster_prototype.webp
  landing/assets/settings.webp
  landing/assets/streaming.webp
  landing/index.html
Due: lint

docs: README document links
  .gitattributes
  README.md
  landing/assets/poster.pdf
  landing/assets/presentation.pdf
  landing/assets/presentation.webp
  landing/assets/report.pdf
  landing/assets/report.webp
Due: none

docs: README repo structure
  README.md
Due: none

docs: README notes
  README.md
  landing/assets/demo_notes.webp
  landing/assets/notes.webp
Due: none

docs: README flow diagrams
  README.md
  landing/assets/flow-diagrams/Account_Creation_Flow.svg
  landing/assets/flow-diagrams/CICD_Testing.svg
  landing/assets/flow-diagrams/Camera_Detection_Flow.svg
  landing/assets/flow-diagrams/Camera_Settings_Flow.svg
  landing/assets/flow-diagrams/ESP32-CAM_Image_Streaming.svg
  landing/assets/flow-diagrams/ESP32-CAM_Setup.svg
  landing/assets/flow-diagrams/Permissions_Flow.svg
  landing/assets/flow-diagrams/Record_Flow.svg
  landing/assets/flow-diagrams/Threads.svg
Due: none

docs: more images in landing
  landing/index.html
Due: lint

docs: fix poster width
  landing/index.html
Due: lint

Path conditions:
  sqlx: any of: \.(sql|rs)$
  lint: any of: \.(html|js|ts|svelte|json)$
  clippy: any of: \.rs$
  fmt: any of: \.rs$
